Flask==2.3.2
imbalanced_learn==0.11.0
joblib==1.2.0
keras==2.12.0
mediapipe==0.10.3
numpy==1.23.5
opencv_contrib_python==4.8.0.76
opencv_python==4.8.0.74
pandas==2.0.1
scikit_learn==1.2.2
tensorflow==2.12.0
tensorflow_intel==2.12.0
tqdm==4.65.0
